.photo {
	width: 83px;
	height: 250px;
	background-position: center;
	background-size: auto 100%;
	background-repeat: no-repeat;
	-webkit-filter: grayscale(80%);
	margin: 0;
}

.photo:hover {
	-webkit-filter: grayscale(0%);
}

.photo.show {
	width: 250px;
	height: 250px;
	-webkit-filter: grayscale(0%);
}

.member-name {
	text-transform: uppercase;
	margin: 0;
}

.member-role {
	font-style: italic;
}

.member-about {
	text-align: justify;
 	text-justify: distribute;
}

.well {
	background-image: url('../images/logo.png');
	background-position: right 20px top 10px;
	background-size: 40px;
	background-repeat: no-repeat;
}
